{%extends 'base.html'%}


{%block content%}
<div style="height: 100vh;">
    {% if validlink %}
  <h3>Enter Your New Password</h3>
  <form action="" method="post">
    {%csrf_token%}
    <div class="form-group">
        <label for="">{{form.new_password1.label_tag}}</label>
        <p>{{form.new_password1}}</p>
     
        <small>{{form.new_password1.errors}}</small>
    </div>
    <div class="form-group">
        <label for="">{{form.new_password2.label_tag}}</label>
        <P>{{form.new_password2}}</P>
        <small> {{form.new_password2.errors}}</small>
    </div>
    <input type="submit" class="=btn btn-success" value="Save">
</form>




{%else%}
<P>Paswword reset link has expired or invalid</P>
{%endif%}
</div>

{%endblock content%}